/* ---------------------------------- Inter --------------------------------- */
@font-face {
  font-family: "Inter";
  src: url("./../../../fonts/inter/Inter-Regular.ttf") format("ttf"), url("./../../../fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* --------------------------------- Roboto --------------------------------- */
@font-face {
  font-family: "PT Sans";
  src: url("./../../../fonts/sans/PTSans-Regular.ttf") format("ttf"), url("./../../../fonts/sans/PTSans-Regular.woff") format("woff"), url("./../../../fonts/sans/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 0.8333333333vw;
  }
}

body {
  min-width: 20rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  position: relative;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease;
}
a::after {
  position: absolute;
  top: 90%;
  left: 0;
  content: "";
  width: 100%;
  height: 0.0625rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  z-index: 6;
}
a:hover {
  color: #73aff4;
}
a:hover:after {
  top: 108%;
  background: #73aff4;
}

input {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-color: transparent;
  border-radius: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 120rem;
  width: 100%;
  /* ------------------------------ main content ------------------------------ */
  /* --------------------------------- sidebar -------------------------------- */
  /* --------------------------------- content -------------------------------- */
}
@media only screen and (max-width: 768px) {
  .container {
    gap: 0.75rem;
  }
}
.container .header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.75rem 8rem;
  background: #ffffff;
  z-index: 5;
}
@media only screen and (max-width: 1219px) {
  .container .header {
    padding: 0.75rem 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .container .header {
    padding: 0.75rem 2.5rem;
  }
}
@media only screen and (max-width: 499px) {
  .container .header {
    padding: 0.75rem 1rem;
  }
}
.container .header__logo-catalog-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .container .header__logo-catalog-wrap {
    display: none;
  }
}
.container .header__logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.container .header__logo-wrap:hover {
  color: #73aff4;
}
.container .header__logo-wrap img {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .header__logo-wrap p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.container .header__btn-catalog {
  padding: 0.96875rem 1.5rem;
  background: #ffffff;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #000000;
  border: 0.0625rem solid #73aff4;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.container .header__btn-catalog:hover {
  background: #73aff4;
  color: #ffffff;
}
.container .header__search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .container .header__search {
    margin: 0;
  }
}
.container .header__find, .container .header__go-back {
  display: none;
}
@media only screen and (max-width: 768px) {
  .container .header__find, .container .header__go-back {
    display: block;
  }
}
.container .header__find {
  padding: 0.75rem 1rem;
  background: #7397f5;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.875rem;
  border-radius: 0.3125rem;
  border-color: transparent;
  cursor: pointer;
}
.container .header__search-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border: 0.0625rem solid #73aff4;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .container .header__search-main {
    border: none;
    border-bottom: 0.0625rem solid #d5d5d5;
    border-radius: 0;
  }
}
.container .header__search-input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 0;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.container .header__search-input::-webkit-search-cancel-button {
  width: 1.25rem;
  height: 1.25rem;
  background: url("./../../img/cross.svg") no-repeat center;
  background-size: contain;
  -webkit-appearance: none;
          appearance: none;
  margin-right: -0.625rem;
  cursor: pointer;
}
.container .header__search-input::-moz-placeholder {
  color: #5a5a5a;
}
.container .header__search-input::placeholder {
  color: #5a5a5a;
}
.container .header__search-loop {
  min-width: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.container .header__search-loop img {
  width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .container .header__search-loop {
    display: none;
  }
}
.container .header .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
@media only screen and (max-width: 991px) {
  .container .header .nav {
    display: none;
  }
}
.container .header .nav__item a {
  font-size: 0.875rem;
  white-space: nowrap;
}
.container main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.25rem;
  width: 100%;
  padding: 0 6.25rem;
}
@media only screen and (max-width: 1219px) {
  .container main {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .container main {
    padding: 0 2.5rem;
  }
}
@media only screen and (max-width: 499px) {
  .container main {
    padding: 0 1rem;
  }
}
.container .sidebar {
  position: sticky;
  top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75rem;
  max-width: 17.5rem;
  width: 100%;
  margin-bottom: 1.875rem;
}
@media only screen and (max-width: 991px) {
  .container .sidebar {
    display: none;
  }
}
.container .sidebar__heading {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.container .sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;
  max-height: 11.25rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .sidebar__list::-webkit-scrollbar {
  width: 0.1875rem;
  border-radius: 0.625rem;
}
.container .sidebar__list::-webkit-scrollbar-thumb {
  background: #cbcbcb;
}
.container .sidebar__list::-webkit-scrollbar-track {
  background: transparent;
}
.container .sidebar__list-item {
  width: 100%;
}
.container .sidebar__list-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding-right: 1rem;
  cursor: pointer;
}
.container .sidebar__list-label > input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #d5d5d5;
}
.container .sidebar__list-label > input:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  content: "";
  transform: translate(-50%, -50%);
  width: 0.6875rem;
  height: 0.5625rem;
  background: url("./../../img/tick.svg") no-repeat center;
  background-size: contain;
}
.container .sidebar__list-label > input:checked {
  background: #7397f5;
  border-color: #7397f5;
}
.container .sidebar__list-label > input:checked:after {
  display: block;
}
.container .sidebar__list-label p {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.container .sidebar__list-label span {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  margin-left: auto;
}
.container .s-categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.container .s-categories__categories-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3125rem;
}
.container .s-categories__categories-item.no-padding {
  padding: 0;
}
.container .s-categories__categories-item._active {
  background: #e2efff;
}
.container .s-categories__categories-item._active span {
  color: #333333;
}
.container .s-categories__categories-item p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.container .s-categories__categories-item span {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
}
.container .s-categories ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.container .s-categories ul .s-categories__categories-item {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
.container .s-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.container .s-price__fields-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.container .s-price__fields-wrap span {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
}
.container .s-price__tick {
  width: 0.625rem;
  height: 0.0625rem;
  background: #aaaaaa;
}
.container .s-price__label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.375rem;
  max-width: 7.5rem;
  width: 100%;
  border: 0.0625rem solid #d5d5d5;
  padding: 0.625rem 0.5rem;
  border-radius: 0.25rem;
}
.container .s-price__label input {
  color: #000000;
  width: 5rem;
}
.container .s-brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.container .s-brand__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}
.container .s-brand__btn-clear {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
  text-decoration: underline;
  cursor: pointer;
}
.container .s-brand__brand-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: 0.0625rem solid #d5d5d5;
  border-radius: 0.25rem;
  padding: 0.625rem 0.75rem;
}
.container .s-brand__brand-search input {
  position: relative;
  width: calc(100% - 2.5rem);
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.container .s-brand__brand-search input::-moz-placeholder {
  color: #aaaaaa;
  font-size: 0.875rem;
  line-height: 1rem;
}
.container .s-brand__brand-search input::placeholder {
  color: #aaaaaa;
  font-size: 0.875rem;
  line-height: 1rem;
}
.container .s-size {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}
.container .content__heading {
  display: inline;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
}
@media only screen and (min-width: 769px) {
  .container .content__heading {
    display: none;
  }
}
.container .content__cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(20.8125rem, 1fr));
  gap: 1.5rem;
  min-width: calc(100% - 19rem);
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 1439px) {
  .container .content__cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .container .content__cards-container {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 0.75rem;
    min-width: 100%;
  }
}
@media only screen and (max-width: 499px) {
  .container .content__cards-container {
    grid-template-columns: repeat(2, minmax(7.5rem, 1fr));
  }
}

/* ------------------------------- card styles ------------------------------ */
.card-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
}
.card-product:hover .card-product__look-wrap:before {
  transform: scale(1.5) translate(-30%, -30%);
}
.card-product__look-wrap {
  position: relative;
  width: 100%;
  min-height: 12.5rem;
  background: #f8f8fa;
  cursor: pointer;
}
.card-product__look-wrap::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  display: block;
  content: "";
  width: 3.75rem;
  height: 3.75rem;
  background: url("./../../img/box.svg") no-repeat center;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}
.card-product__hit-label {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 0.5rem;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  background: #ffffff;
  border: 0.0625rem solid #f8f8fa;
  border-radius: 0.25rem;
}
.card-product__hit-label img {
  min-width: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-product__sale {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  display: inline-block;
  padding: 0.375rem 0.625rem;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.875rem;
  background: #7397f5;
  border-radius: 0.25rem;
}
.card-product__about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
}
.card-product .card-brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.card-product .card-brand__name {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.card-product .card-brand__desc {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}
.card-product .card-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.card-product .card-price__current {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}
.card-product .card-price__old {
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-decoration: line-through;
}
.card-product__btn-buy {
  width: -moz-max-content;
  width: max-content;
  padding: 0.75rem 1rem;
  color: #7397f5;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.875rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #7397f5;
  margin-top: auto;
  transition: all 0.3s ease;
}
.card-product__btn-buy:hover {
  background: #7397f5;
  color: #ffffff;
  border-color: transparent;
}
.card-product__btn-problem {
  width: 100%;
  padding: 0.75rem 1rem;
  color: #aaaaaa;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.875rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #aaaaaa;
  transition: all 0.3s ease;
}
.card-product__btn-problem:hover {
  background: #aaaaaa;
  color: #ffffff;
  border-color: transparent;
}/*# sourceMappingURL=main.css.map */