html {
    font-family: $pt-sans;
    font-size: $baseFontSize;

    //   @include mediaMin($desktop-max-width) {
    //     font-size: calc(16 / (1920 / 100) * 1vw);
    //   }
}

body {
    min-width: rem(320);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: "Oswald", sans-serif;
    color: $color-black;
    background-color: $color-white;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

// body.no-scroll-no-fixed {
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
// }

a {
    text-decoration: none;
}

input {
    outline: none;
    user-select: none;
}

ul {
    list-style: none;
}
