html {
    font-size: $baseFontSize;

    @include mediaMin($desktop-max-width) {
        font-size: calc(16 / (1920 / 100) * 1vw);
    }
}

body {
    min-width: rem(320);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $primaryDark;
    font-family: $pt-sans;
    background-color: $primary;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

a {
    position: relative;
    text-decoration: none;
    color: $primaryDark;
    transition: all 0.2s ease;

    &::after{
        position: absolute;
        top: 90%;
        left: 0;
        content: '';
        width: 100%;
        height: rem(1);
        background: transparent;
        transition: all 0.2s ease-in-out;
        z-index: 6;
    }
    
    &:hover {
        color: $secondaryDarker;

        &:after{
            top: 108%;
            background: $secondaryDarker;
        }
    }
}

input {
    outline: none;
    user-select: none;
    border-color: transparent;
    border-radius: rem(8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
