$desktop-max-width: 1440px;
$desktop-small-width: 1200px;
$small-tablet-max-width: 992px;
$tablet-max-width: 769px;
$mobile-max-width: 500px;

// Font-family
$inter: "Inter", sans-serif;
$pt-sans: "PT Sans", sans-serif;

//Colors
$primary: #ffffff;
$primaryLight: #F8F8FA;
$primaryDark: #000000;

$secondaryDarkest: #7397F5;
$secondaryDarker: #73AFF4;
$secondary: #96C3F7;
$secondaryLight: #E2EFFF;

$neutralDarkest: #333333;
$neutralDarker: #393939;
$neutrayDark: #5A5A5A;
$neutral: #AAAAAA; 
$neutralLight: #CBCBCB;
$neutralLighter: #D5D5D5;
$neutralLightest: #F2F2F2;

// FONT WEIGHT
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

$baseFontSize: 16px;